# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (if you dont want raw data in Git)
data/
outputs/


original_data_1/
original_data_2/
original_data_3/

replot_original_data/first_parameter_sweep_data
replot_original_data/second_parameter_sweep_data
replot_original_data/third_parameter_sweep_data

reproduce_original_data/first_parameter_sweep_data
reproduce_original_data/second_parameter_sweep_data
reproduce_original_data/third_parameter_sweep_data
reproduce_original_data/fourth_parameter_sweep_data

reproduce_original_data/fourth_parameter_sweep_data_50M

reproduce_original_data/first_parameter_sweep_data_1shot
reproduce_original_data/second_parameter_sweep_data_1shot
reproduce_original_data/second_parameter_sweep_data_10shots


reproduce_original_data/first_parameter_sweep_data_2shots
reproduce_original_data/second_parameter_sweep_data_2shots
reproduce_original_data/third_parameter_sweep_data_2shots

reproduce_original_data/third_parameter_sweep_data_2shots_8steps


demo/backup.py

dump/
