# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
venv/
env/

# Jupyter
.ipynb_checkpoints/


data/

replot_original_data/first_parameter_sweep_data
replot_original_data/second_parameter_sweep_data

reproduce_original_data/first_parameter_sweep_data
reproduce_original_data/second_parameter_sweep_data


dump/
